footer
  .container.text-center
   
    ul.pull-right.list-inline
      li
        a(href='https://openexchangerates.org/', target='_blank') Open Exchange Rates Uses for Conversion
      li
        a(href='https://github.com/mobilecipl/node-currencyconversion', target='_blank') GitHub Project
